*/.idea
*.dll
*.xml
*.json

src/obj
src/bin
src/TestResults

test/obj
test/bin
test/TestResults

testCoverage/obj
testCoverage/bin
testCoverage/TestResults
testCoverage/GeneratedFromDafny.cs

DuplicateRemover/obj
DuplicateRemover/bin
DuplicateRemover/TestResults
